name: JS Checks

on:
  pull_request:
  push:

concurrency:
  group: hemi-socials-${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  js-checks:
    uses: hemilabs/actions/.github/workflows/js-checks.yml@v1
    with:
      node-versions: '["20", "22", "24"]'
